<hmtl>
    <head>
        <title>
            SmartMedX : Write an Article
        </title>
        <link rel="stylesheet" type="text/css" href="../../static/css/xx.css">
    </head>

    <body>

        <div class="article-title">
            <h1>Write an Article</h1>
            <h2>Express and serve your purpose!!</h2>
        </div>

        <div class="article-form">
            <form id="article-form" method="post" action="">
                <input name="name" type="text" class="form-control" placeholder="Enter title of the article here" required>
                <br>
                <input name="category" type="text" class="form-control" placeholder="Enter category of the article here" required>
                <br>

                <textarea name="message" class="form-control" placeholder="Start Writing here" row="100" cols="100" required></textarea><br>

                <input type="submit" class="form-control-submit" value="SUBMIT">
            </form>
        </div>
    </body>
</hmtl>